<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lyrics Game</title>
<script type='text/javascript' src="/lyrics.js"></script> 
<link rel="stylesheet" type="text/css" href="/styles.css">   
  </head>
 <body>
    <h1>My Lyrics Game</h1>
<div class="grid-container">     
<div class ="grid1"id = "media"><img id="myImage" src="https://www.w3schools.com/js/pic_bulboff.gif" style="width:100px">    
<iframe width="560" height="315" src="https://www.youtube.com/embed/a_hptUCFuv4?start=9&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div class ="grid2" id = "lyrics">
<marquee behavior="scroll" direction="up"scrollamount="1.8">
	My heart thump <br>
	Not from being <input type="text" class="search" onkeydown="search(this)"/> <br>
Sometimes i'm thinking <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>  <br>
Made me special here on purpose <br>
So all the  <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> 'til I'm gone <br>
Make my words important
<br>
So if I slip <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>, if I die today,
<br>
The last thing you <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> won't be
 <br>
 About some apple bottom 
 <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> with the fur <br>
With the <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>  <br> <br> <br>

 <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>  <br>
<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>  <br>

 <br>
<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> <br>
<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> <br>
<br>
 <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> <br>
<br>
 <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>  <br>

<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/><br> <br> <br>	

<br>
<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> <br>
<br>
<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/>?<br>

 <input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> <br>
<input type="text" onclick ="myFunction()" class="search" onkeydown="search(this)"/> <br> </div>
</marquee>
</div> 

  </body>
</html>